[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
json5 = "*"
requests = "*"
ttkthemes = "*"
pygments = "*"
art = "*"
pytouchbar = "*"
cython = "*"

[dev-packages]

[requires]
python_version = "3.10"
