altgraph==0.17.2
appnope==0.1.3
art==5.6
asttokens==2.0.5
backcall==0.2.0
black==22.6.0
CacheControl==0.12.11
cachy==0.3.0
cairocffi==1.3.0
CairoSVG==2.5.2
certifi==2022.6.15
cffi==1.15.0
charset-normalizer==2.1.0
cleo==0.8.1
click==8.1.3
clikit==0.6.2
crashtest==0.3.1
cssselect2==0.6.0
cycler==0.11.0
Cython==0.29.30
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.4
docopt==0.6.2
executing==0.8.3
filelock==3.7.1
fonttools==4.33.3
html5lib==1.1
idlex==1.22
idna==3.3
importlib-metadata==4.12.0
ipython==8.4.0
isort==5.10.1
jedi==0.18.1
json5==0.9.8
keyring==23.6.0
kiwisolver==1.4.3
lockfile==0.12.2
macholib==1.16
matplotlib==3.5.2
matplotlib-inline==0.1.3
msgpack==1.0.4
mypy-extensions==0.4.3
numpy==1.23.0
packaging==21.3
parso==0.8.3
pastel==0.2.1
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.1
pillow-svg==0.1.0
pkginfo==1.8.3
platformdirs==2.5.2
poetry==1.1.13
poetry-core==1.0.8
prompt-toolkit==3.0.30
proxy-tools==0.1.0
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
Pygments==2.12.0
pyinstaller==5.1
pyinstaller-hooks-contrib==2022.7
pylev==1.4.0
pylunasvg==0.0.2
pyobjc-core==8.5
pyobjc-framework-Cocoa==8.5
pyparsing==3.0.9
python-dateutil==2.8.2
pytoolconfig==1.1.2
PyTouchBar==0.2.0
requests==2.28.0
requests-toolbelt==0.9.1
rope==1.0.0
Send2Trash==1.8.0
shellingham==1.4.0
six==1.16.0
stack-data==0.3.0
tinycss2==1.1.1
tkinterhtml==0.7
tkinterweb==3.13.2
tkterminal==0.1.0
tomli==2.0.1
tomlkit==0.11.0
traitlets==5.3.0
ttkthemes==3.2.2
urllib3==1.26.9
virtualenv==20.15.1
wcwidth==0.2.5
webencodings==0.5.1
zipp==3.8.0
